@model PoemFormViemModel
@{
    ViewData["Title"] = "Edit a Poem";
    ViewData["Action"] = "Edit";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_PoemFormPartial" model="@Model">

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}