@model PoemReadViewModel

@{
    ViewData["Title"] = $"Read {Model.Title}";
}

<h2 class="text-center">@Model.Title</h2>
<hr/>

@foreach(string lyric in Model.ReadableContent)
{
    <div class="text-start">@lyric</div>
}