@{
    ViewData["Title"] = "Admin Home Page";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<br/>

<h3 class="text-center">Adminc can create categoreis, forum tags and asign users as moderators! Admins as well as moderators can delete inappropriate content which users have posted!</h3>
