@model PoemDisplayViewModel

<div class="col-md-4">
    <div class="card mb-3">
        <div class="card-body text-center">
            <a asp-controller="Poem" asp-action="Read" asp-area="" asp-route-id="@Model.Id" class="page-link">
                <h4>
                    @Model.Title
                </h4>
            </a>
            <h6>
                @Model.DateCreated
            </h6>
            <p>
                @Model.Description
            </p>
        </div>
    </div>
</div>