@model IEnumerable<ArticleDisplayViewModel>

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />


<div class="row mt-5">
    @if (Model.Any())
    {
        foreach (var article in Model)
        {
            <partial name="_ArticleCardPartial" model="@article" />
        }
    }
    else
    {
        <p class="text-center fs-1">User does not have any articles yet!</p>
    }
</div>