@model IEnumerable<BookDisplayViewModel>

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<div class="row mt-5">
    @if (Model.Any())
    {
        foreach (var book in Model)
        {
            <partial name="_BookCardPartial" model="@book"></partial>
        }
    }
    else
    {
        <p class="text-center fs-1">User does not have any books yet!</p>
    }
</div>