@{
    ViewData["Title"] = "My Profile";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your Profile!</h1>
    <p>Explore and Manage your work form here!</p>
</div>

<div class="row mt-5">
    <div class="col-3 text-center">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Poems</h5>
                <p class="card-text">Poems are the core of the app.</p>
                <a asp-area="" asp-controller="Poem" asp-action="Mine" class="btn btn-primary">View Your Poems</a>
            </div>
        </div>
    </div>
    <div class="col-3 text-center">
         <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Poems</h5>
                <p class="card-text">Poems are the core of the app.</p>
                <a asp-area="" asp-controller="Book" asp-action="Mine" class="btn btn-primary">View Your Books</a>
            </div>
        </div>
    </div>
    <div class="col-3 text-center">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Poems</h5>
                <p class="card-text">Poems are the core of the app.</p>
                <a asp-area="" asp-controller="Review" asp-action="Mine" class="btn btn-primary">View Your Reviews</a>
            </div>
        </div>
    </div>
    <div class="col-3 text-center">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Poems</h5>
                <p class="card-text">Poems are the core of the app.</p>
                <a asp-area="" asp-controller="Article" asp-action="Mine" class="btn btn-primary">View Your Articles</a>
            </div>
        </div>
    </div>
</div>