@model IEnumerable<PoemDisplayViewModel>


<h2 class="text-center">@ViewData["Title"]</h2>
<hr />


<div class="row mt-5">
    @if (Model.Any())
    {
        foreach (var poem in Model)
        {
            <partial name="_PoemCardPartial" model="@poem" />
        }
    }
    else
    {
        <p class="text-center fs-1">User does not have any poems yet!</p>
    }
</div>