@model IEnumerable<ReviewDisplayViewModel>

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />


<div class="row mt-5">
    @if (Model.Any())
    {
        foreach (var review in Model)
        {
            <partial name="_ReviewCardPartial" model="@review" />
        }
    }
    else
    {
        <p class="text-center fs-1">You do not have any reviews yet!</p>
    }
</div>