@{
    ViewData["Title"] = "Not Found Error";
}

@*This code was copied*@

<div class="text-center">
    <h1 class="display-1 fw-bold">404</h1>
    <p class="fs-3"> Opps! Page not found.</p>
    <p class="lead">
        The page you’re looking for doesn’t exist.
    </p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Go Home</a>
</div>