@{
    ViewData["Title"] = "Bad Request";
}

@*This code was copied*@

<div class="text-center">
    <h3 class="display-1 fw-bold">400 - @ViewData["Title"]</h3>
    <p class="fs-3">The request was invalid.</p>
    <p class="lead">
        Please use valid data.
    </p>
    <a asp-controller="Home" asp-action="Index" asp-area="" class="btn btn-primary">Go Home</a>
</div>