@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to BookWorm!</h1>
        <p>BookWorm is the best place to start your career as an author now!</p>
    </div>

@if (User.Identity!.IsAuthenticated)
{
    <h2 class="text-center">Get Started By Registering!</h2>
}
else
{
        
}

